body {
  margin: 0;
  padding: 0;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #ffffff;
  background-image: url("img/fon.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
}

button {
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-top .logo {
  font-family: Cuprum, Arial, sans-serif;
  background-color: #ee3643;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border-bottom: 3px solid #b52933;
  padding: 8px 60px;
}

.footer-top .logo {
  font-family: Cuprum, Arial, sans-serif;
  background-color: #ee3643;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  border-bottom: 3px solid #b52933;
  padding: 15px 45px;
  margin-bottom: 37px;
}

.footer-top .logo:hover,
.footer-top .logo:focus {
  background-color: #ca2c37;
}

.footer-top .logo:active {
  background-color: #ba2732;
}

.header-top .logo:hover,
.header-top .logo:focus {
  background-color: #ca2c37;
}

.header-top .logo:active {
  background-color: #ba2732;
}

.button.category {
  color: #ffffff;
  background-color: #e5e5e5;
}

.button.category:hover,
.button.category:focus {
  background-color: #cccccc;
}

.button.category:active {
  background-color: #b2b2b2;
}

.catalog-open a:hover,
.catalog-open a:focus {
  background-color: #ca2c37;
}

.catalog-open a:active {
  background-color: #ba2732;
}

.button {
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
}

.header-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top-wrapper {          
    width: 100%;
    background-color: #293449;
	}       

.header-top { 
  margin: 0 auto; 
  width: 940px; 
  display: flex;
  justify-content: space-between;
}

.order-wrapper {
	display: flex;
	justify-content: flex-end;
	width: 460px;
}

.header-bottom-wrapper {
  width: 100%;
  background-color: #f3f7f8;
} 

.header-middle {
  margin: 0 auto; 
  padding: 0 10px; 
  width: 940px; 
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-bottom {
  margin: 0 auto; 
  padding: 0 10px; 
  width: 940px; 
  background-color: #293449;
  margin-bottom: 60px; 
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 22px 30px;
  justify-content: space-between;
}

.site-navigation a{
  color: #ffffff;
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}
.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.header-middle p {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-top .to-order {
  background-color: #63a63e;
}

.header-top .to-order:hover, 
.header-top .to-order:focus {
  background-color: #5fbb2d;
}

.header-top .to-order:active {
  color: rgba(255, 255, 255, 0.51);
  background-color: #518534;
}

.header-top-flex {
  display: flex;
  flex-wrap: wrap;
  width: 720px; 
}
.header-top-flex .bookmarks {
  margin-left: auto;
}

.bookmarks:hover,
.bookmarks:focus {
  background-color: #212a3a;
}

.bookmarks:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.basket:hover,
.basket:focus {
  background-color: #212a3a;
}

.basket:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.user-navigation a{
  color: #000000;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.tel {
  color: #ee3643;
}

.address {
  color: #32425c;	
}

.goods-services h3 {
  font-size: 24px;
  line-height: 30px;	
}

.goods-category {
  background-color: #ffbf47;
  width: 300px; 
  height: 125px; 
}

.tool-category {
  background-color: #3bbce3;
  width: 300px; 
  height: 125px; 
}

.equipment-category {
  background-color: #dc91d8;
  width: 300px;
  height: 125px; 
}

.discounts-category {
  background-color: #8ed78f;
  width: 300px;
  height: 125px; 
}

.delivery-category {
  background-color: #ffc047;
  width: 300px;
  height: 125px; 
}

.item-name {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.catalog-list li {
  border: 0.5px solid black;
  width: 220px;
  height: 320px;
}
.catalog-list-page2 li {
  border: 0.5px solid black;
  width: 220px;
  height: 320px;
}

.catalog-item-price del {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #a9a9a9;
}

.sub_head {
  background-color: #f9f5f0;
}

.sub_head h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.manufactures-liste li {
  border: 0.5px solid black;
  width: 220px;
  height: 145px;
}

.services {
  color: #32425c;
  background-color: #f4f8f9;
  background-image: url("img/fon2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.footer-bottom {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.footer-middle {
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.footer-top {
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.footer-navigation-goods a {
  color: #ffd180;
}

.feedback a {
  color: #ffd180;
}

.footer-copyright a {
  color: #ffd180;
}

.modal-login {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.write-to-us {
  font-size: 18px;
  line-height: 18px;
  color: #000000;	
}

input[placeholder] {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-overflow: ellipsis;
  color: #a9a9a9;
}

.textarea {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-overflow: ellipsis;
  color: #a9a9a9;
}

.modal-checkin {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.search input {
  border: none;
  outline: none;
  background-color: #293449;
}

.company-info h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
}

.company-info p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.transport-company li {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
}

 .contacts .pick-up {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.liste-hover b {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  font-weight: bold;
}

.liste-hover p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-liste li {
  font-size: 21px;
  line-height: 30px;
  background-color: #32425c;
  color: #ffffff;
}

.services-liste li:hover,
.services-liste li:focus {
  background-color: #293449;
  color: #ffffff;
}

.services-liste li:active {
  color: #32425c;
  background-color: #ffffff;
}

.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  text-decoration: underline;
}

.footer-navigation a:active {
  font-size: 18px;
  line-height: 24px;
  color: rgba(241, 245, 247, 0.5);
  text-decoration: underline;
}

.footer-navigation-goods a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-navigation-goods a:hover,
.footer-navigation-goods a:focus {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
  text-decoration: underline;
}

.footer-navigation-goods a:active {
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 209, 128, 0.5);
  text-decoration: underline;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
}

.feedback a:hover,
.feedback a:focus {
  color: #ffd180;
  text-decoration: underline;
}


.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #ffd180;
  text-decoration: underline;
}

.feedback a:active {
  color: #ee3643;
}

.footer-copyright a:active {
  color: #ee3643;
}

.button-buy a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;
}

.button-buy a:hover,
.button-buy a:focus {
  background-color: #5fbb2d;
}

.button-buy a:active {
  background-color: #518534;
}

.button-bookmarks a {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  border: 1px solid #518534;	
}

.button-bookmarks a:hover,
.button-bookmarks a:focus {
  border: 1px solid #32425c;
}

.button-bookmarks a:active {
  border: 1px solid rgba(50, 66, 92, 0.3);
}

.modal-catalog {
  background-color: #ffffff;
  border-top: 2px solid #ee3643;
}

.modal-catalog p {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.visible {
  background-color: #f1f1f1;
}

.visible .overlay {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.user-name span{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.my a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.my a:hover,
.my a:focus {
  text-decoration: underline;
  color: #ee3643;
}

.my a:active {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}

.user-name span:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.container-catalog h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
  width: 940px;
  margin: 10px auto;
}

.sorting {
  background-color: #f7f3ec;
}

.sorting a {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #ee3643;
}

.sorting a:hover,
.sorting a:focus {
  color: #000000;
  border-bottom: 1px dashed #ee3643;
}

.sorting a:active {
  color: #ee3643;
  border-bottom: none;
}

.sorting h5 {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.filter h5 {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter legend {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.filter li {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.range-controls {
  background-color: #f7f3ec;
}

.min-price {
  background-color: #f7f3ec;
}

.max-price {
  background-color: #f7f3ec;
}

.about {
	background-color: #f2f6f8;
}

.about b {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}
.about p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;	
}

.paginaton-list a {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;	
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.paginaton-item.paginaton-item-current a {
  background-color: #ee3643;
  color: #ffffff;
}

.paginaton-list a:hover,
.paginaton-list a:focus {
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.paginaton-list a:active {
  border: 1px solid #ee3643;
}

.main-header input:hover,
.main-header input:focus {
  background-color: #212a3a;
}

.main-header input:active {
  background-color: #ffffff;
}

.company-wrapper-flex {
  display: flex;
  flex-direction: row;
  margin: 0 auto; 
  padding: 0 10px; 
  width: 940px; 
} 

.services-wrapper {
	width: 100%;
	background-color: #f4f8fa;
} 

.services {
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
  padding: 0 10px; 
  width: 940px;
}  

.popular-manufactures {
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
  padding: 0 10px; 
  width: 940px;
} 

.popular-goods {
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
  padding: 0 10px; 
  width: 940px;	
}  

.goods-services {
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
  padding: 0 10px; 
  width: 940px;	
  padding-bottom: 60px;
} 

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.footer-buttom-background {
  background-color: #293449;
  width: 100%;
}

.footer-top-background {
  background-color: #32425c;
  width: 100%;
}
.footer-top {
  margin: 0 auto; 
  padding: 0 10px; 
  width: 940px;	
}
.footer-middle {
  margin: 0 auto; 
  padding: 0 10px; 
  width: 940px;		
}
.footer-bottom {
  margin: 0 auto; 
  padding: 0 10px; 
  width: 940px;	
}

.about-background {
  width: 100%;
  background-color: #f4f8fa;
}
.about {
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
  padding: 0 10px; 
  width: 940px;
}
.about {
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
  padding: 0 10px; 
  width: 940px;
}

.sub_head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.manufactures-liste-flex {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-size:0
}
.manufactures-liste-flex:nth-child(4n) {
margin-right: 0; }

.manufactures-item {
    position:relative;
    display:inline-block;
    width:220px;
    margin-left:10px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
    font-size:16px;	
}

.manufactures-liste-flex li {
  border: 0.5px solid black;
  width: 220px;
  height: 145px;
}

.manufactures-item a{
    width:220px;
    height:145px;
}
.manufactures-item img{
    max-width:100%;
}

.catalog-list {
width: 960px;
display: flex;
flex-wrap: wrap;
padding: 0;
margin: 0;
font-size:0 }

.catalog-list:nth-child(4n) {
  margin-right: 0; 
}

.catalog-list-page2 {
width: 700px;
display: flex;
flex-wrap: wrap;
padding: ;
margin: ;
font-size:0
}

.catalog-list-page2:nth-child(3n) {
  margin-right: 0; 
}

.catalog-item {
    position:relative;
    display:inline-block;
    width:220px;
    margin-left:10px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
    font-size:16px;
}


.catalog-item .flag {
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.catalog-item .flag-new{
    background-image: url("img/new flag.png") no-repeat 0 0;
}
.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.actions .buy,
.actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
}
.actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}
.catalog-item-image{
    width:218px;
    height:168px;
}
.catalog-item-image img{
    max-width:100%;
}
.catalog-item h4 {
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;    
}
.catalog-item .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}
.catalog-item .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}
.catalog-item .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643; 
  }  

 .flex-services1  {
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: space-between;
 }

 .flex-services2 {
 	justify-content: space-between;
 	display: flex;
 	flex-direction: row-reverse;
	width: 960px;
 }

 .flex-services2-wrapper {
 	display: flex;
 	flex-direction: column;

 }

 .catalog-open {
 	position: relative;
 	width: 620px;
 	height: 270px;
 }
.slider1 img {
 	width: 620px;
 	height: 270px;
 	position: absolute;
    left: 0px;

 	z-index: 999;
 }
.slider2 img {
 	width: 620px;
 	height: 270px;
 	position: absolute;
 	z-index: 1;
 	left: 0px;
 	bottom: -15px;
 }
 .footer-top {
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: space-between;
 }
 .footer-navigation {
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: space-between;
 	width: 540px;
 }
 .footer-middle {
   display: flex;
   flex-wrap: wrap;	
   justify-content: space-between;
 }

 .footer-navigation-goods {
   display: flex;
 	flex-wrap: wrap;
 	justify-content: space-between;
 	width: 540px;
	
 }

 .footer-bottom {
  display: flex;
   flex-wrap: wrap;	
   justify-content: space-between;
 }

 .breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 23px; 
  width: 960px;
 }

.breadcrumbs li {
  position: relative;
  margin-right: 42px;

}

.container-catalog-wrapper {
	 display: flex;
     justify-content: space-between;
	 width: 960px;
	 padding: 0;
     margin: 0 auto;
}

.sorting-catalog-wrapper {
	display: flex;
	width: 700px;
	flex-direction: column;
}
.sorting {
 display: flex;
 flex-wrap: wrap;
 width: 700px;
 margin-left: 10px;
 justify-content: space-around;
}

.sorting-wrapper {
 display: flex;
 flex-wrap: wrap;
 
}
.paginaton-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.pagination-item {
  margin-right: 5px;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-item a {
  display: block;
  padding: 10px 19px;
}
.user-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}



